
<div class="container">

  <h1>
    Home Page
  </h1>

  <h3>
    <a [routerLink]="['/login']">Login</a>
  </h3>

  <h3>
    <a [routerLink]="['/register']">Register</a>
  </h3>

  <hr/>
  <h2>
     Product List
  </h2>

  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of all_products">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" width="70%" src="/assets/images/{{product['imageURL']}}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"> {{product['name']}}</a> <button class="btn btn-default" (click)="addToCart(product['productId'])">Add to Cart</button>
        </h4>
        <h5>${{product['price']}}</h5>
        </div>

    </div>
  </div>
</div>

